extends layouts/layout

block content
   if user
      .row.mb-5
         .col.align-self-center
            img.rounded.float-start(src="/images/alucard.jpg", alt="avatar", width="100", height="100")
            h5 #{user.firstName} #{user.lastName}
         .col-md-8
            .card
               .card-body
                  form(method="POST")
                     .form-group.mb-3
                        textarea.form-control(name="content", rows="4", placeholder="What's Happening "+ user.firstName+'?')
                     button.btn.btn-primary(type="submit") Post
   .row.justify-content-center
      if posts.length > 0
         each post in posts
            .col-md-8.mb-2
               .card
                  .card-body
                     h5.card-title.text-capitalize
                        a.card-link.text-decoration-none(href="/users/"+post.user_id) #{post.firstName} #{post.lastName}
                     p.card-text #{post.content}
                     button.btn.btn-primary.btn-sm Like
      else 
         h1 No Posts